<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @upload.userid %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @upload.filename %>
</p>

<p>
  <strong>Datelog:</strong>
  <%= @upload.datelog %>
</p>
